.singlePost {
    flex: 9;
}

.singlePostWrapper {
    padding: 20px;
    padding-right: 0;
}

.singlePostImage {
    width: 100%;
    height: 300px;
    border-radius: 5px;
    object-fit: cover;
}
.singlePostTitle{
    text-align: center;
    margin: 10px;
    font-family: "Lora", serif;
    font-size: 20px;
}


.edit {
    float: right;
    font-size: 20px;
}

.singlePostIcon {
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon:first-child {
    color: black;
}

.singlePostIcon:last-child {
    color: rgb(255, 71, 71);
}

.info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    font-family: "Valera Round", sans-serif;
    color: black;
}


.singlePostDescription  {
    color : #666;
    font-size: 17px;
}

.singlePostDescription::first-letter {
    margin-left: 15px;
    font-size: 25px;
}