.profile {
    display: flex;
}

.profileWrapper {
    flex: 9;
    padding: 20px;
}

.profileTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profileUpdateTitle {
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
    font-family: "Varela Round", sans-serif;
}

.profileDelete {
    color: red;
    font-size: 12px;
    cursor: pointer;
}


.profileForm{
    display: flex;
    flex-direction: column;

}

.profilePicture {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.profilePicture > img {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    object-fit: cover;
}

.profilePictureIcon{
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileForm > label {
    font-size: 20px;
    margin-top: 20px;
}

.profileForm > input {
    color: gray;
    margin: 10px 0;
    height: 25px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.profileForm > input:focus {
    border: none;
}

.submit {
    cursor: pointer;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 20px;
    padding: 10px;
    
}